.u-section-1 .u-sheet-1 {
  min-height: 928px;
}

.u-section-1 .u-group-1 {
  width: 463px;
  min-height: 376px;
  margin: 199px auto 60px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-size: 3rem;
  animation-duration: 1000ms;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 13px 67px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 37px 78px 0 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 85px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  width: 527px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1160px;
  margin: 90px 0 -616px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 526px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-7 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-8 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 61px;
  width: 61px;
  animation-duration: 2750ms;
  transition-duration: 0.5s;
  margin: 30px 71px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-icon-4 {
    transform: scale(1.2);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 641px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 636px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 68px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 507px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-5,
.u-section-2 .u-icon-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-6,
.u-section-2 .u-icon-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-6.u-icon-6.u-icon-6:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-7,
.u-section-2 .u-icon-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-7.u-icon-7.u-icon-7:hover {
  transform: scale(1.2) !important;
}

.u-section-2 .u-icon-8,
.u-section-2 .u-icon-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-8.u-icon-8.u-icon-8:hover {
  transform: scale(1.2) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 44px 417px 0 138px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  background-image: none;
  min-height: 428px;
  margin: 28px 0 21px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 56px auto 0 0;
  padding: 10px 52px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 317px;
    margin-left: 38px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
  }

  .u-section-3 .u-btn-1 {
    letter-spacing: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 135px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 744px;
}

.u-section-4 .u-video-1 {
  width: calc(((100% - 1140px) / 2) + 805px);
  height: 409px;
  margin: 199px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 428px);
  min-height: 485px;
  margin: -349px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  line-height: 52.8px;
  letter-spacing: normal;
  font-weight: 700;
  margin: 78px 20px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 125px 0 20px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-1 {
    width: 804px;
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-4 .u-group-1 {
    width: 419px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 63px;
  }

  .u-section-4 .u-btn-1 {
    padding: 10px 52px 10px 51px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-video-1 {
    width: 720px;
    height: 301px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-video-1 {
    width: 540px;
    height: 226px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-video-1 {
    width: 340px;
    height: 142px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 57px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 771px;
}

.u-section-5 .u-shape-1 {
  background-image: none;
  height: 618px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 478px;
  min-height: 478px;
  margin: -531px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  width: 264px;
  margin: 64px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  margin: 31px 31px 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 107px auto 0;
  padding: 10px 52px 10px 51px;
}

.u-section-5 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 514px);
  min-height: 618px;
  background-image: url("images/41.png");
  background-position: 50% 50%;
  margin: -565px 0 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-gallery-1 {
  height: 458px;
  width: 576px;
  margin: -531px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: calc(((100% - 940px) / 2) + 514px);
  }

  .u-section-5 .u-gallery-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: calc(((100% - 720px) / 2) + 514px);
  }

  .u-section-5 .u-gallery-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: calc(((100% - 540px) / 2) + 514px);
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 556px;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  width: 837px;
  margin: 61px auto 0;
}

.u-section-6 .u-form-1 {
  height: 313px;
  margin: 18px 628px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 530px;
  margin: -313px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-1 {
  padding: 19px;
}

.u-section-6 .u-icon-1 {
  height: 78px;
  width: 78px;
  transition-duration: 0.5s;
  color: currentcolor !important;
  margin: 22px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 24px auto 0;
}

.u-section-6 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0 24px;
}

.u-section-6 .u-icon-5 {
  height: 80px;
  width: 80px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 19px 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-size: 0.875rem;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  font-size: 0.875rem;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 279px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px 24px;
}

.u-section-6 .u-icon-6 {
  height: 80px;
  width: 80px;
  transition-duration: 0.5s;
  margin: 11px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-6 .u-text-1 {
    font-weight: normal;
  }

  .u-section-6 .u-form-1 {
    width: 570px;
    margin-right: 428px;
  }

  .u-section-6 .u-icon-6 {
    transform: scale(1.2);
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 208px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
    width: 540px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
    margin-right: 28px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 176px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-6 .u-icon-1,
.u-section-6 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.2) !important;
}

.u-section-6 .u-icon-5,
.u-section-6 .u-icon-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.2) !important;
}

.u-section-6 .u-icon-6,
.u-section-6 .u-icon-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-icon-6.u-icon-6.u-icon-6:hover {
  transform: scale(1.2) !important;
}