 .u-section-1 {
  background-image: url("images/772203973-05.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 330px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 837px;
}

.u-section-2 .u-list-1 {
  width: 737px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 30px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 777px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 339px;
  height: 192px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -167px 0 0 371px;
}

.u-section-2 .u-text-2 {
  margin: 14px 0 50px 371px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 339px;
  height: 192px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -167px 0 0 371px;
}

.u-section-2 .u-text-4 {
  margin: 14px 0 50px 371px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 339px;
  height: 192px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: -167px 0 0 371px;
}

.u-section-2 .u-text-6 {
  margin: 14px 0 50px 371px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -66px;
    margin-bottom: -66px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -40px;
    margin-bottom: -40px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 231px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 231px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 231px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 256px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 292px;
    height: 165px;
    margin-right: 131px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 292px;
    height: 165px;
    margin-right: 131px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 292px;
    height: 165px;
    margin-right: 131px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-bottom: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 604px;
  background-image: linear-gradient(#858e99, #292d33);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 372px;
  height: 372px;
  object-position: 100% 0%;
  background-image: url("images/photo-1578751333210-30e05d429f8d.jpg");
  background-position: 50% 50%;
  margin: 44px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 194px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 40px;
}

.u-section-3 .u-image-2 {
  min-height: 194px;
  background-image: url("images/cvbb-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 160px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 245px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 368px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-3 .u-image-2 {
    min-height: 232px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: linear-gradient(#555c66, black);
}

.u-section-4 .u-sheet-1 {
  min-height: 919px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 791px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 574px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  min-height: 293px;
  margin-top: -102px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 24px 30px 25px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 383px;
  background-image: url("images/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_14.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 383px;
  background-image: url("images/sssss.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding-right: 0;
  padding-top: 100px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 408px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 9px 0;
}

.u-section-4 .u-text-2 {
  margin: 0 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-4 .u-image-1 {
    height: 473px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 316px;
  }

  .u-section-4 .u-image-3 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 336px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 362px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 110px;
  }

  .u-section-4 .u-image-2 {
    min-height: 242px;
  }

  .u-section-4 .u-image-3 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2724px;
  }

  .u-section-4 .u-image-1 {
    height: 543px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 726px;
  }

  .u-section-4 .u-image-3 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1767px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-4 .u-image-1 {
    height: 342px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-4 .u-image-2 {
    min-height: 457px;
  }

  .u-section-4 .u-image-3 {
    min-height: 326px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 507px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 60px 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  margin: 57px 60px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 11px 60px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 164px;
  min-width: 124px;
  margin: 12px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 18px;
}

.u-section-5 .u-form-1 {
  height: 404px;
  margin: 0 0 0 4px;
}

.u-section-5 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-text-1 {
    text-transform: none;
    letter-spacing: normal;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-social-icons-1 {
    width: 162px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}