 .u-section-1 {
  background-image: url("images/pexels-negative-space-34639.jpg");
  background-position: 50% 50%;
  min-height: 777px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  min-height: 228px;
  margin: 549px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-group-2 {
  width: 469px;
  min-height: 14px;
  margin: 0 auto 0 59px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-1 .u-group-2 {
    width: 448px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 490px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 368px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 490px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 682px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    min-height: 107px;
    margin-bottom: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2060px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -21px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 1.25rem;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-1 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-group-2 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 176px;
}

.u-section-2 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-group-3 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 226px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-gallery-2 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-align: left;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-8 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-9 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-4 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-2 .u-text-10 {
  margin: 0 auto;
}

.u-section-2 .u-group-5 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 176px;
}

.u-section-2 .u-container-layout-9 {
  padding-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-group-6 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 226px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-2 .u-text-12 {
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 431px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-gallery-3 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 431px;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-group-7 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 202px;
}

.u-section-2 .u-container-layout-13 {
  padding-bottom: 13px;
}

.u-section-2 .u-text-13 {
  text-align: left;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-14 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-15 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-8 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 52px auto 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding-bottom: 0;
}

.u-section-2 .u-text-16 {
  margin: 0 auto;
}

.u-section-2 .u-group-9 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 163px;
}

.u-section-2 .u-container-layout-15 {
  padding-bottom: 0;
}

.u-section-2 .u-text-17 {
  margin: 0 auto;
}

.u-section-2 .u-group-10 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 251px 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding-bottom: 0;
}

.u-section-2 .u-text-18 {
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: -62px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-17 {
  padding: 0;
}

.u-section-2 .u-gallery-4 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
  width: 405px;
}

.u-section-2 .u-carousel-indicators-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -21px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-7 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 307px;
}

.u-section-2 .u-container-layout-18 {
  padding: 0;
}

.u-section-2 .u-text-19 {
  text-align: left;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-20 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-21 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-11 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-19 {
  padding-bottom: 0;
}

.u-section-2 .u-text-22 {
  margin: 0 auto;
}

.u-section-2 .u-group-12 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 176px;
}

.u-section-2 .u-container-layout-20 {
  padding-bottom: 0;
}

.u-section-2 .u-text-23 {
  margin: 0 auto;
}

.u-section-2 .u-group-13 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 226px 0 auto;
}

.u-section-2 .u-container-layout-21 {
  padding-bottom: 0;
}

.u-section-2 .u-text-24 {
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 328px;
}

.u-section-2 .u-container-layout-22 {
  padding: 0;
}

.u-section-2 .u-gallery-5 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -20px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-9 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-10 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 328px;
}

.u-section-2 .u-container-layout-23 {
  padding: 0;
}

.u-section-2 .u-text-25 {
  text-align: left;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-26 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-27 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-14 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-24 {
  padding-bottom: 0;
}

.u-section-2 .u-text-28 {
  margin: 0 auto;
}

.u-section-2 .u-group-15 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 176px;
}

.u-section-2 .u-container-layout-25 {
  padding-bottom: 0;
}

.u-section-2 .u-text-29 {
  margin: 0 auto;
}

.u-section-2 .u-group-16 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 226px 0 auto;
}

.u-section-2 .u-container-layout-26 {
  padding-bottom: 0;
}

.u-section-2 .u-text-30 {
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-27 {
  padding: 0;
}

.u-section-2 .u-gallery-6 {
  height: 294px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-6 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -22px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-11 {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-12 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 20px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-28 {
  padding: 0;
}

.u-section-2 .u-text-31 {
  text-align: left;
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-32 {
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin: 42px 368px 0 0;
}

.u-section-2 .u-text-33 {
  text-align: left;
  margin: 13px 70px 0 0;
}

.u-section-2 .u-group-17 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-29 {
  padding-bottom: 0;
}

.u-section-2 .u-text-34 {
  margin: 0 auto;
}

.u-section-2 .u-group-18 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px auto 0 176px;
}

.u-section-2 .u-container-layout-30 {
  padding-bottom: 0;
}

.u-section-2 .u-text-35 {
  margin: 0 auto;
}

.u-section-2 .u-group-19 {
  width: 134px;
  text-align: center;
  min-height: 40px;
  margin: -40px 226px 0 auto;
}

.u-section-2 .u-container-layout-31 {
  padding-bottom: 0;
}

.u-section-2 .u-text-36 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 303px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-group-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 950px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 950px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-group-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 253px;
  }

  .u-section-2 .u-gallery-4 {
    width: 345px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 253px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
  }

  .u-section-2 .u-group-13 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 270px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 270px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-27 {
    margin-right: 0;
  }

  .u-section-2 .u-group-16 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 322px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 241px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 0;
  }

  .u-section-2 .u-group-19 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 102px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 102px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-4 {
    width: 264px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 102px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 102px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1933px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4773px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 40px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 100px;
    min-height: 30px;
    margin-top: 28px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 100px;
    min-height: 30px;
    margin-top: -30px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-group-3 {
    width: 100px;
    min-height: 30px;
    margin-top: -30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 329px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 42px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-group-4 {
    width: 100px;
    min-height: 30px;
    margin-top: 28px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-2 .u-group-5 {
    width: 100px;
    min-height: 30px;
    margin-top: -30px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-2 .u-group-6 {
    width: 100px;
    min-height: 30px;
    margin-top: -30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 1118px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    order: 1;
  }

  .u-section-2 .u-layout-cell-8 {
    order: 0;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-right: 40px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-group-11 {
    width: 100px;
    min-height: 30px;
    margin-top: 28px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-top: 0;
  }

  .u-section-2 .u-group-12 {
    width: 100px;
    min-height: 30px;
    margin-top: -28px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-20 {
    padding-top: 0;
  }

  .u-section-2 .u-group-13 {
    width: 100px;
    min-height: 30px;
    margin-top: -32px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-21 {
    padding-top: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 822px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  height: 237px;
  margin-top: 585px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -742px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 327px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 275px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 599px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px 513px 0 0;
}

.u-section-3 .u-form-1 {
  height: 347px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-3 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 4px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 494px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 403px;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 282px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1287px;
  }

  .u-section-3 .u-image-1 {
    height: 317px;
    margin-top: 970px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1207px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1247px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 930px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-right: 82px;
  }
}