.u-block-5752-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5752-3 {
  position: absolute;
  left: 0;
}

.u-block-5752-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 627px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-bottom: 0;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 620px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 744px;
    margin-left: 23px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 555px auto 60px 0;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 155px;
} .u-section-3 {
  background-image: none;
  min-height: 861px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 861px;
  pointer-events: auto;
  background-image: url("images/pexels-burst-374631.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 861px;
  pointer-events: auto;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  animation-duration: 2250ms;
  margin: 0 8px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 70px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 39px auto 0 166px;
  padding: 15px 24px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 478px;
  }

  .u-section-3 .u-image-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    min-height: 544px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 549px;
  }

  .u-section-3 .u-image-1 {
    min-height: 699px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 383px;
  }

  .u-section-3 .u-image-1 {
    min-height: 440px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 84px;
}.u-section-5 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-5 .u-shape-1 {
  width: 166px;
  height: 166px;
  animation-duration: 1000ms;
  margin: 70px auto 0 124px;
}

.u-section-5 .u-shape-2 {
  width: 296px;
  height: 296px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 363px 18px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 827px;
  height: 649px;
  animation-duration: 1000ms;
  margin: -757px 106px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 510px;
  min-height: 650px;
  margin: -396px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 31px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 9px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 33px 9px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 33px auto 0 0;
  padding: 12px 24px;
}

.u-section-5 .u-shape-3 {
  width: 146px;
  height: 146px;
  animation-duration: 1000ms;
  margin: -168px 276px 22px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 61px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 281px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 710px;
    height: 557px;
    margin-top: -665px;
    margin-right: auto;
    margin-left: 124px;
  }

  .u-section-5 .u-group-1 {
    width: 428px;
    margin-top: -203px;
  }

  .u-section-5 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 18px;
  }

  .u-section-5 .u-shape-2 {
    width: 254px;
    height: 254px;
    margin-top: 248px;
  }

  .u-section-5 .u-image-1 {
    width: 556px;
    height: 490px;
    margin-top: -593px;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -204px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-shape-3 {
    width: 121px;
    height: 121px;
    margin-top: -159px;
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-5 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-right: 419px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: 122px;
  }

  .u-section-5 .u-image-1 {
    width: 414px;
    height: 326px;
    margin-top: -404px;
    margin-right: auto;
  }

  .u-section-5 .u-group-1 {
    width: 366px;
    margin-top: -56px;
  }

  .u-section-5 .u-shape-3 {
    width: 91px;
    height: 91px;
    margin-top: -292px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 197px;
    height: 197px;
    margin-top: 15px;
  }

  .u-section-5 .u-image-1 {
    height: 201px;
    width: 274px;
    margin-top: -264px;
  }

  .u-section-5 .u-group-1 {
    width: 292px;
    margin-top: 33px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-shape-3 {
    width: 71px;
    height: 71px;
    margin-top: 18px;
    margin-right: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 177px;
}.u-section-7 .u-sheet-1 {
  min-height: 931px;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  animation-duration: 2500ms;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-7 .u-shape-1 {
  width: 879px;
  height: 822px;
  animation-duration: 1000ms;
  margin: -37px -24px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 962px;
  height: 624px;
  margin: -653px 39px 0 auto;
}

.u-section-7 .u-list-1 {
  width: 372px;
  margin: -706px auto 60px 221px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 521px;
  grid-gap: 20px 20px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 610px;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-top: -692px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-7 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 467px;
  }

  .u-section-7 .u-list-1 {
    margin-top: -549px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 350px;
  }

  .u-section-7 .u-list-1 {
    margin-top: -432px;
    margin-left: 168px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
    font-size: 1.875rem;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 220px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-top: -302px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 149px;
} .u-section-9 {
  min-height: 66px;
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 655px;
}

.u-section-9 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 31px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-9 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("images/pexels-daria-shevtsova-1440722.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 318px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-9 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 66px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 414px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-1 {
    min-height: 621px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-image-1 {
    min-height: 391px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 103px;
} .u-section-11 {
  background-image: url("images/pexelsphoto3621590.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 655px;
}

.u-section-11 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 120px 703px 0 0;
}

.u-section-11 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  margin: 148px 539px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 60px 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 503px;
  }

  .u-section-11 .u-text-2 {
    text-transform: none;
    font-weight: normal;
    margin-right: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 43px;
    margin-right: 103px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    background-position: 0% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: 68px;
    margin-bottom: 41px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 120px;
} .u-section-13 {
  min-height: 768px;
}

.u-section-13 .u-image-1 {
  width: 1161px;
  height: 759px;
  margin: 0 0 0 auto;
}

.u-section-13 .u-text-1 {
  letter-spacing: 0px;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -697px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2));
}

.u-section-13 .u-text-2 {
  background-image: none;
  font-size: 1rem;
  line-height: 1.8;
  margin: 17px calc(((100% - 1140px) / 2) + 736px) 0 calc(((100% - 1140px) / 2));
}

.u-section-13 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px auto 60px calc(((100% - 1140px) / 2));
  padding: 14px 42px 15px;
}

@media (max-width: 1199px) {
   .u-section-13 {
    min-height: 624px;
  }

  .u-section-13 .u-image-1 {
    width: 940px;
    height: 615px;
  }

  .u-section-13 .u-text-1 {
    margin-top: -553px;
    margin-right: calc(((100% - 940px) / 2) + 370px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-13 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 536px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-13 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-13 {
    min-height: 480px;
  }

  .u-section-13 .u-image-1 {
    width: 570px;
    height: 471px;
    margin-right: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-13 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -409px;
    margin-right: calc(((100% - 1140px) / 2) + 650px);
    margin-left: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-13 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 606px);
    margin-left: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-13 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 130px);
  }
}

@media (max-width: 767px) {
   .u-section-13 {
    min-height: 362px;
  }

  .u-section-13 .u-image-1 {
    height: 353px;
    margin-top: 476px;
    margin-right: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-13 .u-text-1 {
    margin-top: -778px;
    margin-left: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-13 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 516px);
    margin-left: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-13 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 220px);
  }
}

@media (max-width: 575px) {
   .u-section-13 {
    min-height: 231px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: 350px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-13 .u-text-1 {
    font-size: 3rem;
    margin-top: -517px;
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-13 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }

  .u-section-13 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 320px);
  }
}.u-section-14 .u-sheet-1 {
  min-height: 102px;
} .u-section-15 {
  min-height: 643px;
}

.u-section-15 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  min-height: 610px;
  margin: 0 0 0 auto;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-layout-wrap-1 {
  width: 1140px;
  margin: -513px auto 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-15 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-15 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-15 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-style: none;
  margin: 30px auto 0 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-15 .u-container-layout-3 {
  padding: 60px 40px 0 0;
}

.u-section-15 .u-image-1 {
  height: 417px;
  object-position: 15.98% 50%;
  background-position: 15.98% 50%;
  margin: 0 auto 0 0;
}

.u-section-15 .u-layout-cell-3 {
  min-height: 566px;
}

.u-section-15 .u-container-layout-4 {
  padding: 0 40px 60px 0;
}

.u-section-15 .u-image-2 {
  height: 351px;
  width: 303px;
  margin: 0 -1px;
}

@media (max-width: 1199px) {
   .u-section-15 {
    min-height: 556px;
  }

  .u-section-15 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 475px);
    min-height: 526px;
  }

  .u-section-15 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -429px;
    margin-bottom: 64px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-15 .u-image-1 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-15 .u-image-2 {
    height: 264px;
    width: 228px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-15 {
    min-height: 169px;
  }

  .u-section-15 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 391px);
    min-height: 449px;
  }

  .u-section-15 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -399px;
    margin-bottom: 48px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-15 .u-image-1 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-15 .u-image-2 {
    height: 199px;
    width: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    min-height: 950px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -513px;
    margin-bottom: 0;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-15 .u-container-layout-3 {
    padding: 0 10px 40px 60px;
  }

  .u-section-15 .u-image-1 {
    height: 468px;
    width: 311px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 895px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-15 .u-image-2 {
    height: 380px;
    width: 305px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    min-height: 713px;
  }

  .u-section-15 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-15 .u-image-1 {
    height: 307px;
    width: 226px;
  }

  .u-section-15 .u-layout-cell-3 {
    min-height: 564px;
  }

  .u-section-15 .u-image-2 {
    height: 305px;
    width: 253px;
    margin-left: 77px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 249px;
}

.u-section-16 .u-text-1 {
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 135px auto 60px 0;
} .u-section-17 {
  min-height: 819px;
}

.u-section-17 .u-image-1 {
  min-height: 445px;
  background-image: url("images/27750248-0.jpeg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-17 .u-container-layout-1 {
  padding: 0 0 0 80px;
}

.u-section-17 .u-text-1 {
  font-size: 1.5rem;
  margin: 38px calc(((100% - 1140px) / 2) + 262px) 0 calc(((100% - 1140px) / 2));
}

.u-section-17 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px calc(((100% - 1140px) / 2));
  padding: 15px 40px 16px 39px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-17 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 62px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-17 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-17 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-17 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-17 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-17 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-image-1 {
    background-position: 14.35% 0%;
  }

  .u-section-17 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-17 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-block-0545-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-0545-21:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0545-21:not([data-block-selected]):not([data-cell-selected]).u-block-0545-21:not([data-block-selected]):not([data-cell-selected]).u-block-0545-21:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.2) !important;
}

.u-block-0545-22:not([data-block-selected]):not([data-cell-selected]),
.u-block-0545-22:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-0545-22:not([data-block-selected]):not([data-cell-selected]).u-block-0545-22:not([data-block-selected]):not([data-cell-selected]).u-block-0545-22:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.2) !important;
}