.dataTables_filter {
   /*width: 50%;*/
   float: right;
   /*text-align: right;*/
}

table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 30px!important;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before, table.dataTable>thead .sorting_desc_disabled:after{
        bottom: 0.5em!important;
}

html .form-check-label {
    padding-left: 1.25rem;
    padding-right: inherit;
}

.btn-file, .btn-file:hover{

background:Green;
padding: 5px 10px;
border-radius: 5px;
color:white;

}